
      h1 {
        text-align: center;
      }

      .position li{
          display: inline-block;
          
      }
      .first {
        background-color: rgb(235, 200, 84);
        font-size: 20px;
        height: 50px;
        text-align: center;
        width: 200px;
      }

      .second {
        background-color: rgb(219, 219, 219);
        font-size: 20px;
        height: 50px;
        text-align: center;
        width: 300px;
      }

      .third {
        background-color: rgb(170, 142, 106);
        font-size: 20px;
        height: 50px;
        text-align: center;
        width: 300px;
      }
      h3{ 
          text-align: center;
      }
      .premio-primeiro li{
          display: inline-block;
        }
        .premio-segundo li{
            display: inline-block;
          }
          .premio-terceiro li{
            display: inline-block;
          }

    